
process {
  // Default resources for all processes (can be overridden per process)
  cpus            = 1
  memory          = '4 GB'
  time            = '2h'
  scratch         = true
  executor        = 'slurm'
  queue           = 'normal,bigrun'

}

env {
    PYTHONNOUSERSITE = 1
}

executor {
    queueSize = 20
    monitor = false
}

profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    singularity {
        singularity.enabled    = true
        singularity.runOptions  = '-B $HOME'
        // singularity.bindPath = ['/workspace/users/fmuinos/fourier_regression_pipeline:/pipeline']
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
}

// Define the cacheDir for the singularity images
singularity.cacheDir        = '/workspace/datasets/pipelines/nextflow_containers'
singularity.libraryDir      = '/workspace/datasets/pipelines/nextflow_containers'

// Define a work directory
workDir = '/workspace/nobackup2/work/fourier-regression/2025-08-20/'

report {
  enabled = true
  file = 'report.html'
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = 'trace.txt'
}
